@import "tailwindcss";
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter.ttf');
}

body {
  background-color: #f9fafb;
  color: black;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important;
}